# {{title}}

{% if contents is defined and contents -%}
## Contents

{% for c in contents -%}
- {{c}}
{% endfor -%}
{% endif -%}

{% if guides is defined and guides -%}
## Guides

{% for g in guides -%}
- {{g}}
{% endfor -%}
{% endif -%}
